.movies-section__title {
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #970000;
  padding-bottom: 3px;
  color: white;
}

.no-movies {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.movies-section__list {
  width: 100%;
}

.movie-thumbnail {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 24px;
  width: 200px;
  height: 270px;
  transition: all 100ms ease;
  background-size: cover;
  cursor: pointer;
}

.movie-thumbnail:hover {
  margin-right: 14px;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 10px;
  width: 220px;
  height: 290px;
  box-shadow: 0px 0px 21px 1px rgba(151, 0, 0, 1);
}

.movie-thumbnail__details h4 {
  color: white;
  margin: 0 0 10px 0;
  padding: 0;
}

.movie-thumbnail__details {
  box-sizing: border-box;
  position: absolute;
  background: linear-gradient(#00000000, #0000009d, #000000);
  /* background-color: #000000d9; */
  bottom: 0;
  width: 100%;
  padding: 50px 10px 10px 10px;
}

.movie-thumbnail__details__buttons {
  display: flex;
  justify-content: flex-end;
}

.movie-thumbnail__details__buttons button {
  cursor: pointer;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 30px;
  border: 0;
  opacity: 0.5;
  transition: all 150ms ease;
  margin-left: 20px;
}

.movie-thumbnail__details__buttons button:hover {
  opacity: 1;
}

.movie-thumbnail__details__buttons button.delete {
  background-image: url("../img/delete.png");
}
.movie-thumbnail__details__buttons button.watchlist {
  background-image: url("../img/addToWatch.png");
}
.movie-thumbnail__details__buttons button.watched-list {
  background-image: url("../img/addToWatched.png");
}

/** ICONS **/

.icon-like {
  height: 18px;
}

.icon-watch {
  height: 25px;
}

.icon-delete {
  height: 20px;
  padding: 3px;
}
