.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  height: 100%;
  width: 100%;
  position: absolute;
}

.logo {
  font-weight: 900;
  font-family: sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #1f1f1fba;
  color: #970000;
  font-size: 35px;
  justify-self: center;
}

.logoImg {
  height: 35px;
  margin-right: 5px;
  transform: rotate(-15deg);
}

.fbLogin {
  padding-top: 50px;
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  background: black;
  min-height: 100%;
  width: 100%;
  position: absolute;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  align-items: center;
  background-color: #1d1d1d;
  z-index: 2;
}

header a {
  color: white;;
}

.nav {
  min-height: 100%;
  width: 60px;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 50px;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.navLabel {
  text-decoration: none;
  font-size: 12px;
  padding-top: 5px;
  color: white;
}

a {
  text-decoration: none;
}

.icon {
  height: 30px;
}

.moviesWrapper {
  display: flex;
  height: 100%;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movieList {
  width: 95%;
  color: white;
  padding-left: 65px;
}

.listName {
  margin-left: 25px;
  margin-top: 30px;
  border-bottom: 1px solid #970000;
  padding-bottom: 3px;
  width: 80%;
}

.moviePoster {
  height: 270px;
  margin: 15px;
}

.imgContainer {
  position: relative;
}

.movieDetails {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 10px;
  padding: 5px;
  width: 100%;
}

.title {
  margin: 2px;
}

.addButtons {
  display: flex;
  justify-content: flex-end;
}

.addBtn {
  outline: none;
  border: none;
  background-color: #970000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  width: 40px;
}

.iconLike {
  height: 18px;
}

.iconWatch {
  height: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #474747;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
