.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  height: 100%;
  width: 100%;
  position: absolute;
}

.logo {
  font-weight: 900;
  font-family: sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #1f1f1fba;
  color: #970000;
  font-size: 35px;
  justify-self: center;
}

.logoImg {
  height: 35px;
  margin-right: 5px;
  transform: rotate(-15deg);
}

.fb-login {
  padding-top: 50px;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  background: black;
  min-height: 100%;
  width: 100%;
  position: absolute;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1d1d1d;
  z-index: 2;
}

header a {
  margin-bottom: -5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.nav {
  min-height: 100%;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 50px 5px 0px 5px;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.navLabel {
  text-decoration: none;
  font-size: 12px;
  padding-top: 5px;
  color: white;
}

a {
  text-decoration: none;
}

.icon {
  height: 25px;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
  transition: 200ms ease-in-out;
}

.logout-icon {
  height: 20px;
}

.movies-wrapper {
  display: flex;
  height: 100%;
}

.movies {
  display: inline-block;
}

.movie-list {
  width: 95%;
  color: white;
  padding-left: 65px;
}

.movie-list-category {
  margin-left: 25px;
  margin-top: 30px;
  border-bottom: 1px solid #970000;
  padding-bottom: 3px;
  width: 95%;
}

.movie-img {
  margin: 0px;
}

.movie {
  position: relative;
  display: inline-block;
  margin: 20px 24px;
}

.movie-details {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 4px;
  padding: 5px;
  width: 100%;
}

.movie-details-title {
  margin: 2px;
}

.movie-details-buttons {
  display: flex;
  justify-content: flex-end;
}

.movie-details-button {
  outline: none;
  border: none;
  background-color: #970000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  width: 40px;
}

.icon-like {
  height: 18px;
}

.icon-watch {
  height: 25px;
}

.icon-delete {
  height: 20px;
  padding: 3px;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: -80px;
}

.loader-gif {
  width: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #474747;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
